{% extends "KarudevAppsBundle::layout.html.twig" %}
{% block body %}
	<div id="tabs" class="tabs-bottom">
		<ul>
			<li><a id="contact_show" rel="./contact/show-all" href="#tabs-1"><i class="icon-search"></i> Voir ses contacts</a></li>
                        <li><a id="contact_create" rel="./contact/create" href="#tabs-2"><i class="icon-plus-sign"></i> Créer un contact</a></li>
			
		</ul>
	<div class="tabs-spacer"></div>
		<div id="tabs-1">
		{% render 'KarudevAppsBundle:Contact:showAll' %}
		</div>
		<div id="tabs-2">
               
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}  
<script>
$(function() {
$( "#tabs" ).tabs();
$('#contact_create').loadHtml('#tabs-2','GET',true);
$('#contact_show').loadHtml('#tabs-1','POST',true);

});
</script>
{% endblock %}