<h3>Création d'une nouvelle facture</h3>
<form name="facture_create" action="./facture/create" method="post" >
    <table>
        <tr>
            <td>Client : </td>
            <td>{{ form_widget(form.idOrganisation)}}</td>
        </tr>
        <tr>
            <td>Contact Client : </td>
            <td>{{ form_widget(form.idClient)}}</td>
        </tr>
        <tr>
            <td>Délai de paiement : </td>
            <td>{{ form_widget(form.termOfPayment,{'attr' :{'class' : 'input-mini'} } ) }} jours</td>
        </tr>
       
       
        <tr>
            <td></td>
            <td>
                <button class="btn btn-success" type="submit">Enregistrer</button>
                <button class="btn" type="button">Annuler</button>
            </td>
        </tr>
    </table>
</form>
<script>
//  Création du contact en ajax
 $('form[name="facture_create"]').submitForm('Facture','facture');
 </script>