<section>
    <form name="facture_createdetails" action="./facture/createdetails" method="post">
        {{ form_widget(form.idFacture) }}
        <table class="table table-striped">

            <tr>
                <td style="width:815px;">{{ form_widget(formInsertType.insertTypeId,{ 'attr': {'class':'input-xxlarge'} })}}</td>
                <td style="text-align: right;width:30px;">{{ form_widget(form.quantity,{ 'attr': {'placeholder': 'Unité','class':'input-mini'} })}}</td>
                <td style="text-align: right; width: 200px" > <button class="btn btn-success" type="submit">Enregister</button></td>
            </tr>

        </table>
    </form>

</section>
{% block javascripts %}  
<script>
    $(function() {
        $('form[name="facture_createdetails"]').submitForm('Facture', 'Facture Détails');
    });
    </script>
{% endblock %}