{% extends "::base.html.twig" %}
{% block header %}
<h1>Démos</h1>
<p>Vous trouverez ici, quelques démos de modules réalisés en PHP5/SYMFONY2/ZEND, ORACLE PL/SQL, MYSQL...</p>
{% endblock %}
{% block body %}

<div class="row-fluid">
    <div class="span12">
        <h2> - KaruDocs </h2>
        <p>Création et gestion de documents.</p>
        <p><a target="_blank" href="http://karudocs.karudev.fr/account/login">http://karudocs.karudev.fr</a></p>
<p><a target="_blank" href="https://github.com/karudev/KaruDocs">https://github.com/karudev/KaruDocs</a></p>      
   <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> 
    
    </div>
</div>
{#<div class="row-fluid">
    <div class="span12">
        <h2> - KarudevBiblio </h2>
        <p>Gestion de bibliothèques ( ORACLE PL/SQL )</p>

<p>Projet basé sur PHP5 PUR (sans frameworks) et ORACLE PL/SQL.</p>

<p>L'objectif est de montrer que l'on peut se passer de frameworks tout en gardant la philosophie MVC, et en optimisant la gestion des données côté SGBD.
</p>
<p>Développé par Dolyveen RENAULT</p>

<p>Inspiré du livre Oracle 11g, Entraînez-vous sur SQL et PL/SQL.</p>
<p><a target="_blank" href="https://github.com/karudev/KarudevBiblio">https://github.com/karudev/KarudevBiblio</a></p>      
   <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> 
    
    </div>
</div>#}
{% endblock %}



