
.insertions section
{
 
    clear: both;
    padding: 0px !important;
}
.insertions table.recap td{
    
    padding :5px;
    width: 150px;
}
.recapchiffre{
margin: 5px;
}
.recapchiffre td,.recapchiffre th{
    border: 1px solid #ccc;
    padding: 5px;
    

}
