{% extends "::base.html.twig" %}
{% block header %}
<h1>Mes disponibilités</h1>
<p>Consultez mon planning...</p>
{% endblock %}
{% block body %}
<h2>Planning</h2>
<p>Actuellement en mission,<br/>
    Je serais disponible fin octobre 2013, pour une mission en tant que <b>Consultant Développeur Web</b> en Ile de France.</p>
<p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
{% endblock %}



