{% extends "::base.html.twig" %}
{% block header %}
<h1>Mes disponibilités</h1>
<p>Consultez mon planning...</p>
{% endblock %}
{% block body %}
<h2>Planning</h2>
<p>Actuellement en mission,<br/>
    je serais disponible début juillet pour démarrer une mission <b>Consultant Développeur Web</b>, sur Ile de France.</p>
<p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
{% endblock %}



