{% extends "::base.html.twig" %}
{% block header %}
<h1>Présentation</h1>
<p>Double casquette de Chef de Projet Web / Développeur PHP Symfony2 & Zend.</p>
<p>De profil entrepreneurial et autodidacte, j'aime mettre les mains dans le dur !!!</p>
{% endblock %}
{% block body %}
<article>
	<h2>Expérience professionnelle</h2>
	<section>
		
	<h4>Juin 2012 à 2013 : Chef de Projets Web - YACAST FRANCE</h4>
	Pilotage et développements des projets suivants : 
	<ul class="liste">
		<li>Muzicastv2 : http://muzicast.yacast.fr</li>
		<li>Clubmonitoring : http://clubs.yacast.fr</li>
		<li>Webservice Vocapia</li>
		<li>Mini Back office Gesdroits</li>
		<li>Maintenance d'appliquations existantes</li>
	</ul>
	
	<h4> 2008 à Aujourd'hui 2013 : Développeur Web - Karudev</h4>
	<ul class="liste">
		<li>Prestations diverses ( SYMFONY2 / ZEND )</li>
	</ul>
	
	<h4>Décembre 2010 à Juin 2012 : Développeur Web - YACAST FRANCE</h4>
	<ul class="liste">
		<li>Développement d'applications web destinées aux professionnelles de la musique</li>
	</ul>
	
	<h4>Février 2010 à Décembre 2010 : Développeur Web - APSIE</h4>
	<ul class="liste">
		<li>Développement de l'extranet dans l'environnement egroupware</li>
	</ul>
	
	<h4>2009 à 2010 : Développeur Web - TC DUGAZON</h4>
	<ul class="liste">
		<li>Développement du site internet du club</li>
	</ul>
	
	<h4>Juillet 2008 à Novembre 2008 : Développeur Web - GIG CONSEIL</h4>
	<ul class="liste">
		<li>Création de l'extranet de GIG CONSEIL</li>
	</ul>
	
</article>
<article>
<h2>Formation</h2>
<section>
<h4>Septembre 2007 à Juillet 2008 : 1 ere année d'ingénerie informatique</h4>
<ul class="liste"><li>Ecole supérieur d'informatique, SUPINFO Normandie</li>
</ul>

<h4>Septembre 2005 à Juillet 2007 : BTS IRIS</h4>
<ul class="liste">
<li>LPO de Baimbridge, Les Abymes</li>
</ul>

<h4>Septembre 2003 à Juillet 2005 : BAC Electrotechnique</h4>
<ul class="liste">
<li>Lycée Charles Coeffin, Baie Mahault</li>
</ul>




</section>
</article>
	
</section>	
{% endblock %}



