{% extends "::base.html.twig" %}
{% block header %}
<h1>Présentation</h1>
<p>Spécialisé dans le développement d'appliquations web et ayant des connaissances sur les développements IHM,<br/> mon objectif est de vous apporter des solutions techniques afin d'améliorer votre système d'information.</p>
{% endblock %}
{% block body %}
<section class="cv" >
    <article>
        <h2>Dolyveen Renault</h2>
        <h3>Consultant Développeur Web</h3>
        <p>renault@karudev.fr</p>
    </article>
        <h3> Expérience</h3>
    <article>
        
        <b>Consultant Développeur Web</b>
        <p>Blue Consulting - Paris La Défense (92)</p>
        <p>Mars 2013 à actuellement</p>
        <ul> 
            <li>
                <h3>Client : Prismamedia</h3>
                <p>Développement d'une interface de gestion de devis par rapport aux espaces publicitaires réservés.</p>
            </li>
        </ul>
    </article>
    <article>    
        <b>Chef de Projets Web / Développeur Web</b>
        <p>YACAST FRANCE - Paris 16e (75)</p>
        <p>décembre 2010 - Mars 2013</p>
        <ul> 
            <li>
                <h3>Muzicastv2 : http://muzicast.yacast.fr/</h3>
                <p> Analyse des cahiers des charges des chargés d'études et proposition technique en fonction de la
                    faisabilité de la demande.</p>
                <p> Répartition des taches (redmine) et développements des modules de l'outils destinés aux professionnels
                    de la musique.</p>
                <p> Conception et optimisation des requêtes sql oracle se basant sur certaines tables alimentés par un batch
                    talend.</p>
                <p> Respect du cahier des charges graphique et intégration des templates.
                    Mise en production, preprod des versions.</p>
                <p> Intervention sur les debuggages.</p>
                <p> Veille technologique et proposition de solutions.</p>
            </li>
            <li>
                <h3>Clubmonitoring : http://clubs.yacast.fr</h3>
                <p>Développement et maintenance de l'outils de monitoring des clubs destinés à la sacem et suiza.</p>
            </li>
            <li>
                <h3>Webservice Vocapia</h3>
                <p>Développement d'un webservice en zend_soap permettant de récupérer le texte des fichiers xml de 5
                    min en fonction d une date de début de fin et d'un id média.</p>
                <p>Le service propose également une méthode de customisation des fichiers.
                </p>
            </li>
            <li>
                <h3>Mini Back office Gesdroits</h3>
                <p> Développement de la partie backoffice des frontoffices v2.</p>
                <p>Gestion des droits.</p>
                <p>Mise à jours des logos, pdf.</p>
                <p>Statistiques</p>
        </ul>
    </article>
    <article>
        <b>Développeur Web - Auto-entrepreneur</b>
        <p>Karudev</p>
        <p>2008 - actuellement</p>
        <p>Missions diverses en PHP ( SYMFONY2 / ZEND ).</p>
        <p>Dernières missions effectuées en télétravail :</p>
        <ul><li> Applications : Presta v3.1</li>
            <li>Client : APSIE</li>
        </ul>
    </article>
    <article> 
        <b>Développeur Web</b>
        <p>APSIE - Courbevoie (92)</p>
        <p>février 2010 - décembre 2010</p>
        <ul><li><h3>Développement de l'extranet basé sur le CRM egroupware.</h3>
                <p>Amélioration de l'outils de travail de la société en programmant une application nommé PRESTA "
                    Prestation Pôle Emploi " pour les conseillers.</p>
                <p>Le but final est d'avoir des livrables envoyés automatiquement aux prescripteurs pôle emploi avec les
                    données saisies lors des différents rendez-vous.</p>
                <p>De nombreux modules ont été mis en place également :
                    Facturation, Contact, Organisation, Pose de rendez vous, Projet, Statistique...</p>
            <li><h3> Formation d'une stagiaire</h3></li>
        </ul>
    </article>
    <article> 
        <b>Développeur Web</b>
        <p>TC DUGAZON - Les Abymes (GP)</p>
        <p>2009 - 2010</p>
        <p>Développement du site internet du club basé sur le CMS Joomla.</p>
        <p>Mise en place de modules :</p>
        <ul><li>L'inscription aux tournois</li>
            <li> Recherche de partenaire</li>
            <li> Boutique en ligne</li>
            <li>Formulaire de contact</li>
        </ul>
    </article>
    <article>
        <b>Développeur Web</b>
        <p>GIG INFORMATIQUE - Pointe-à-Pitre (GP)</p>
        <p>juillet 2008 - novembre 2008</p>
        <ul>
            <li>
                Création de l'extranet de GIG INFORMATIQUE de A à Z en php4.x avec le bon vieux mysql_connect().</li>
            <li> Création du design sous photoshop et intégrations des templates.</li>
        </ul>
        <p>Cette extranet permet :</p>
        <ul><li> L'affectation des tâches aux techniciens ( Terminer les Post-it )</li>
            <li>
                La saisie des rapports d'interventions des techniciens chez le client. ( ex : Saint-Martin )
            </li>
        </ul>
    </article> 
        
        <h3>Formation</h3>
        <article>
        <b>1 ere année d'ingénerie informatique en Informatique</b>
<p>SUPINFO NORMANDIE - Caen (14)</p>
<p>2007 - 2008</p>
        </article>
        <article>
<b>BTS IRIS en Informatique</b>
<p>LPO DE BAIMBRIDGE - Pointe-à-Pitre (GP)</p>
<p>2005 - 2007</p>
        </article>
        <article>
            <b>BAC ELECTROTECHNIQUE en ELECTROTECHNIQUE</b>
<p>LYCEE CHARLES COEFFIN - Baie-Mahault (GP)</p>
<p>200 - 2005</p>
        </article>
        <h3>Compétences</h3>
        <article>
       
PHP, ZEND FRAMEWORK, SYMFONY2, SQL, Oracle, XML, Twig, Mysql5, Css3, Html5, JQuery, GIT,
DOCTRINE2
        </article>
        
        <h3>Liens</h3>
        <article><p>http://karudev.fr</p>
<p>http://twitter.com/karudev</p>
<p>http://www.viadeo.com/fr/profile/dolyveen.renault</p>
        </article>

     


</section>	
{% endblock %}



